<%- include ('./partials/head') %>
<main>
    <% if (locals.user) { %>
        <div class="purpose-box">
            <a class="hello-user" href="/thanks">
                ¡Hola
                <span class="user-data">
                    <%= user.name %>!
                </span>
                Elegiste el color
                <span class="user-data">
                    <%= user.color %>.
                </span>
                Ingresaste el e-mail
                <span class="user-data">
                    <%= user.email %>.
                </span>
                Tenés
                <span class="user-data">
                    <%= user.age %>
                </span>
                años.
                <span class="volver">
                    <i class="far fa-hand-pointer"></i>
                </span>
            </a>
        </div>
    <% } %>
    <form class="form-form" action="/" method="POST">
        <!-- name -->
        <div class="input-box" 
            style="background: linear-gradient(to bottom right,#FFF,<%= locals.color ? locals.color : null %>);"
        >
            <label class="input-label" for="name">
                <span>
                    Ingrese su nombre
                </span>
            </label>
            <input
                class="input-text
                <%= locals.errors && locals.errors.name ? 'input-error' : null %>"
                type="text"
                name="name"
                id="name"
                value="<%= locals.oldData ? oldData.name : null %>"
            >
            <% if (locals.errors && locals.errors.name) { %>
                <div class="error">
                    <span>
                        <%= locals.errors.name.msg %>
                    </span>
                </div>
            <% } %>
        </div>
        <!-- color -->
        <div class="input-box"
            style="background: linear-gradient(to bottom right,#FFF,<%= locals.color ? locals.color : null %>);"
        >
            <label class="input-label" for="color">
                <span>
                    Elija un color
                </span>
            </label>
            <input 
                class="input-color
                <%= locals.errors && locals.errors.color ? 'input-error' : null %>" 
                type="color" 
                name="color" 
                id="color" 
                value="<%= locals.oldData ? oldData.color : '#FFFFFF' %>"
            >
            <% if (locals.errors && locals.errors.color) { %>
                <div class="error">
                    <span>
                        <%= locals.errors.color.msg %>
                    </span>
                </div>
            <% } %>
        </div>
        <!-- email -->
        <div class="input-box"
            style="background: linear-gradient(to bottom right,#FFF,<%= locals.color ? locals.color : null %>);"
        >
            <label class="input-label" for="email">
                <span>
                    Ingrese un e-mail
                </span>
            </label>
            <input 
                class="input-text
                <%= locals.errors && locals.errors.email ? 'input-error' : null %>"
                type="email" 
                name="email" 
                id="email"
                value="<%= locals.oldData ? oldData.email : null %>"
            >
            <% if (locals.errors && locals.errors.email) { %>
                <div class="error">
                    <span>
                        <%= locals.errors.email.msg %>
                    </span>
                </div>
            <% } %>
        </div>
        <!-- age -->
        <div class="input-box"
            style="background: linear-gradient(to bottom right,#FFF,<%= locals.color ? locals.color : null %>);"
        >
            <label class="input-label" for="age">
                <span>
                    Ingrese su edad
                </span>
            </label>
            <input 
                class="input-text
                <%= locals.errors && locals.errors.age ? 'input-error' : null %>"
                type="text" 
                name="age" 
                id="age"
                value="<%= locals.oldData ? oldData.age : null %>"
            >
            <% if (locals.errors && locals.errors.age) { %>
                <div class="error">
                    <span>
                        <%= locals.errors.age.msg %>
                    </span>
                </div>
            <% } %>
        </div>
        <!-- remember -->
        <div class="input-box"
            style="background: linear-gradient(to bottom right,#FFF,<%= locals.color ? locals.color : null %>);"
        >
            <label class="input-label" for="remember">
                <span>
                    Recordar color
                </span>
                <input 
                    class="input-checkbox"
                    type="checkbox"
                    name="remember"
                    id="remember"
                    value="true"
                    <%= locals.oldData && oldData.remember ? 'checked' : null %>
                >
            </label>
        </div>
        <!-- BUTTON -->
        <div class="button-box">
            <button class="send-button" type="submit"
                style="background: linear-gradient(to bottom right,#FFF,<%= locals.color ? locals.color : null %>);"
            >
                ENVIAR
            </button>
        </div>
    </form>
    <form class="form-footer" action='/reset' method="GET">
        <button class="forget"
            style="background: linear-gradient(to bottom right,#FFF,<%= locals.color ? locals.color : null %>);"
        >
            olvidar color
        </button>
    </form>
</main>
<%- include ('./partials/footer') %>